/*
Template: Mannat - Admin & Dashboard Template
Author: Mannatthemes
File: Icons
*/

@import "plugins/fontawesome";
@import "plugins/line-awesome";
@import "plugins/materialdesignicons";
@import "plugins/feather";
@import "plugins/tabler-icons";